<div class="menu">
	<div class="menu-logo__container">
		<a routerLink="/">
			<img class="menu-logo" src="assets/images/logo-foxstone.png" alt="logo">
		</a>
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">gavel</mat-icon> DASHBOARD
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">compare_arrows</mat-icon> OFFERINGS
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">group</mat-icon> TRANSACTIONS
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">settings</mat-icon> SETTINGS
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">gavel</mat-icon> Value
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">gavel</mat-icon> Value
		</a>	
	</div>
</div>