<div class="menu">
	<div class="menu-logo__container">
		<a routerLink="/">
			<img class="menu-logo" src="assets/images/logo-foxstone.png" alt="logo">
		</a>
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">gavel</mat-icon>
			<span class="menu-item__name">DASHBOARD</span> 
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">compare_arrows</mat-icon>
			<span class="menu-item__name">OFFERINGS</span> 
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">group</mat-icon>
			<span class="menu-item__name">TRANSACTIONS</span>  
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">settings</mat-icon> 
			<span class="menu-item__name">SETTINGS</span> 
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">gavel</mat-icon> 
			<span class="menu-item__name">Value</span> 
		</a>	
	</div>
	<div class="menu-item">
		<a routerLink="/">
			<mat-icon class="menu-item__icon">gavel</mat-icon>
			<span class="menu-item__name">Value</span> 
		</a>	
	</div>
</div>