<div class="featured-card">
	<div class="featured-card__image-container">
		<img class="featured-card__image" src="assets/images/examples/{{cardObject.imgName}}.jpg" alt="image">
	</div>
	<div class="featured-card__info">
		<div class="featured-card__title-row">
			<p class="featured-card__title-name">{{cardObject.title}}</p>
			<p class="featured-card__title-subtitle">{{cardObject.address_object.city}}, {{cardObject.address_object.canton}}</p>
		</div>
		<div class="featured-card__invest-row">
			<p>Available to invest</p>
			<p>CHF {{cardObject.financial.available_to_invest}}</p>
			<div class="featured-card__progress">
				<div [ngStyle]="{'width': cardObject.financial.available_to_invest / cardObject.financial.market_value  * 100 + '%'}" ></div>
			</div>
		</div>
		<div class="featured-card__details">
			<div class="featured-card__details-row featured-card__details-border">
				<p>Purchase cost</p>
				<p>CHF {{cardObject.financial.market_value}}</p>
			</div>
			<div class="featured-card__details-row featured-card__details-border">
				<p>Min. Investment</p>
				<p>CHF {{cardObject.financial.minimum_investment}}</p>
			</div>
			<div class="featured-card__details-row featured-card__details-border">
				<p>Investment Type</p>
				<p>{{cardObject.type == 'co_ownership' ? 'Co-Ownership' : cardObject.type}}</p>
			</div>
			<div class="featured-card__details-row featured-card__details-border">
				<p>Mortage (LTV)</p>
				<p>{{cardObject.financial.loan_to_value}}%</p>
			</div>
			<div class="featured-card__details-row featured-card__details-border">
				<p>Holding Period</p>
				<p>{{cardObject.financial.holding_period}} years</p>
			</div>
			<div class="featured-card__details-row featured-card__details-border">
				<p>Expected Return on Equity</p>
				<p>{{cardObject.financial.annual_yield_or_roi}}%</p>
			</div>
		</div>
		<div class="featured-card__button-row">
			<div class="featured-card__button">
				<span>More details</span>
			</div>
		</div>
	</div>

</div>