<header class="header">
	<div class="header__row">
		<div class="header__title"> <fa-icon [icon]="faBuilding"></fa-icon> Offerings </div>
		<div class="header__user-controls">
			<mat-icon class="header__user-icon"> help </mat-icon>
			<mat-icon class="header__user-icon"> notifications </mat-icon>
			<mat-icon class="header__user-icon"> mail </mat-icon>
			<div class="header__user-icon header__user-icon_circle">
				<mat-icon> person </mat-icon>
			</div>
			<div class="header__user-options">
				<span>James Tartis</span>
				<div>
					<mat-icon> arrow_drop_down </mat-icon>
				</div>
			</div>
		</div>
	</div>
</header>